// @import 'antd/dist/antd.less';
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #ffffff; 
}
::-webkit-scrollbar-thumb {
    background: #251B37; 
    border-radius: 15px;
}
.main-cart{
    width: calc(100% - 10px);
    padding-left: 100px;
    background-color: #ffffff;
    height: calc(100vh - 49.29px);
    
}
.cartList{
    padding: 15px 25px;
    // border: 2px solid red;
    overflow-x:hidden;
    overflow-y:scroll;
    height: 555px;
}
.cartItem{
    border: 2px solid #fab3b3;
    height: 150px;
    border-radius: 10px;
}