@import 'antd/dist/antd.less';
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

.mainForm{
    background-color: #d8f3dc;
    width: 100%;
    height: calc(100vh - 49.29px);
    display: flex;
}
.form-inside{
    width: 40%;
    margin: auto;
    align-items: center;
    padding: 75px 50px;
    background-color: #74c69d;
    // border: 2px solid #40916c;
    box-shadow: #40916c66 0px 10px 36px 0px, #40916c29 0px 0px 0px 1px;
    // border-radius: 5px;
}
